<%= simple_form_for(grade) do |f| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.input :name, label: "Klasse navn" %>
 
    <%= f.input :school_id, collection: @schools, label_method: :name, value_method: :id,label: "Skole", include_blank: false, selected: @grade.school_id %>

    <%= f.submit "Gem", class: "btn btn-secondary" %>
 
  <br>
<% end %>
