<p id="notice"><%= notice %></p>

<h3>Skole klasser</h3>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Navn</th>
      <th>Skole id</th>
      <th>Optioner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <strong><td><%= grade.name %></td></strong>
        <strong><td><%= grade.school_id %></td></strong>
        
        <td><%= link_to 'Vis', grade, class: "btn btn-secondary" %>
            <%= link_to 'Rediger', edit_grade_path(grade), class: "btn btn-secondary" %>
            <%= link_to 'Slet', grade, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny skole klasse', new_grade_path, class: "btn btn-secondary" %>
