<p id="notice"><%= notice %></p>

<h1>Skole klasser</h1>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>Skole</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= grade.school_id %></td>
        <td><%= link_to 'Vis', grade, class: "btn btn-success" %></td>
        <td><%= link_to 'Rediger', edit_grade_path(grade), class: "btn btn-success" %></td>
        <td><%= link_to 'Slet', grade, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny skole klasse', new_grade_path, class: "btn btn-success" %>
