%p#notice= notice
%h3 Skole klasser
%table.table
  %thead.thead-inverse
    %tr
      %th Navn
      %th Skole id
      %th Optioner
      %th{:colspan => "3"}
  %tbody
    - @grades.each do |grade|
      %tr
        %strong
          %td= grade.name
        %strong
          %td= grade.school_id
        %td
          = link_to 'Vis', grade, class: "btn btn-default"
          = link_to 'Rediger', edit_grade_path(grade), class: "btn btn-default"
          = link_to 'Slet', grade, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%br/
= link_to 'Ny skole klasse', new_grade_path, class: "btn btn-default"
