<p id="notice"><%= notice %></p>

<p>
  <strong>Navn:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Skole:</strong>
  <%= @grade.school_id %>
</p>

<%= link_to 'Rediger', edit_grade_path(@grade), class: "btn btn-secondary" %> |
<%= link_to 'Skoleklasser', grades_path, class: "btn btn-secondary" %>
