%p#notice= notice
%p
  %strong Navn:
  = @grade.name
%p
  %strong Skole:
  = @grade.school_id
= link_to 'Rediger', edit_grade_path(@grade), class: "btn btn-default"
|
= link_to 'Skoleklasser', grades_path, class: "btn btn-default"
