= simple_ form_for @module_evaluation do |f|
  - if @module_evaluation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@module_evaluation.errors.count, "error")} prohibited this module_evaluation from being saved:"
      %ul
        - @module_evaluation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :module_name, value: "Vælg modul:"
  .field
    = f.number_field :module_score, collection: (1..10), as: :radio_buttons, label: "score:" 
  .field
    = f.text_area :evaluation_explanation, as: :text, value: "begrundelse for score"
  .actions
    = f.submit 'Save', class: "btn btn-default
