= render "shared/home/dashboard_scheduel" 
= render "shared/home/dashboard_messages" 
= render "shared/home/dashboard_students"
= render "shared/home/dashboard_chat"
= render "shared/home/dashboard_subjects" 
