#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"}
          Ugeskema
    #collapse1.panel-collapse.collapse.in
      .panel-body
        - if @scheduel.nil?
          = "din lære har endu ikke uploadet et skoleskema"
        - else
          = image_tag @scheduel.image.url(:slide)
        = link_to "Nyt ugeskema", new_grade_scheduel_path(@current_user.grade_id), class: "btn btn-default"

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2"}
          Mine dagbogsnotater
    #collapse2.panel-collapse.collapse
      .panel-body
        - @user_diary_entries.each do |diary_entry|
          %tr
            %td
              %strong= diary_entry.created_at
            %td
            %td= link_to "Dagbogsnotat", user_diary_entries_path(diary_entry), class: "btn btn-default"
            %br


  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3"}
          Mine Målsætninger
    #collapse3.panel-collapse.collapse
      .panel-body
        - @user_student_goals.each do |goal|
          %tr 
            %td
              %strong= goal.goal_name
            %td 
            %td= link_to "Vis", user_student_goal_path(@current_user, goal), class: "btn btn-default"


  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3"}
          Mine beskeder
    #collapse4.panel-collapse.collapse
      .panel-body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
