<%= simple_form_for @message do |f| %>

  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :message_type, value: "message" %>

 
  <%= f.input :content, as: :text, label: "Besked text", input_html:{rows: 15} %>

  <br>
  <%= f.association :message_users, collection: User.all, as: :check_boxes, label_method: :username, value_method: :id,  item_wrapper_class: 'checkbox_container' %>
  
 
  <%= f.submit "Send", class: "btn btn-secondary" %>

<% end %>
<br>