- if @message.errors.any?
  #error_explanation
    %h2
      = pluralize(message.errors.count, "error")
      prohibited this message from being saved:
    %ul
      - message.errors.full_messages.each do |message|
        %li= message
= f.hidden_field :message_type, value: "message"
= f.input :content, as: :text, label: "Besked text", input_html:{rows: 15}
%br/
%h5
  %strong 
    Vælg modtagere
.box
  = f.association :readers, collection: @school_students, as: :check_boxes, label_method: :username, value_method: :id,  item_wrapper_class: 'checkbox_container', label: "Skole elever"
.box
  = f.association :readers, collection: @everyone_else, as: :check_boxes, label_method: :username, value_method: :id,  item_wrapper_class: 'checkbox_container', label: "Fagligt personale"

.button-box
  = f.submit "Send", class: "btn btn-default"
%br/
