<p id="notice"><%= notice %></p>

<% if super_admin? %>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        <td><%= link_to 'Vis', user, class: "btn btn-success" %>
        <%= link_to 'Rediger', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Slet', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny bruger', new_user_path, class: "btn btn-success" %>
<%end%>




<%if admin? %>
<h1>Elever</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_students.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        <td><%= link_to 'Vis', user, class: "btn btn-success" %></td>
        <td><%= link_to 'Rediger', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Slet', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Lærer</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_teachers.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        <td><%= link_to 'Vis', user, class: "btn btn-success" %></td>
        <td><%= link_to 'Rediger', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Slet', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h1>Special konsulenter</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_mentors.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        <td><%= link_to 'Vis', user, class: "btn btn-success" %></td>
        <td><%= link_to 'Rediger', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Slet', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>admins</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_admins.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        <td><%= link_to 'Vis', user, class: "btn btn-success" %></td>
        <td><%= link_to 'Rediger', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Slet', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Ny bruger', new_user_path, class: "btn btn-success" %>
<%end%>

<%if mentor? %>
<h1>Elever</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_students.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%end%>

<% if teacher? %>
<h1>Elever</h1>

<table>
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_students.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <tr>
        
        
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%end%>