%li.nav-item
  = link_to "Elever", users_path, class: "nav-link"

%li.dropdown.open
  %a.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", }
    instruktioner
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Nyt emne", new_subject_path
    %li
      = link_to "Ny instruktion", new_instruction_path
    %li
      = link_to "Alle instruktioner", instructions_path
    %li.divider{:role => "separator"}
    %li.dropdown-header How to 
    %li
      = link_to "How to", how_to_index_path, class: "dropdown-item"

%li.nav-item
  = link_to "Nyt ugeskema", new_grade_scheduel_path(@current_user.grade_id), class: "nav-link"
