<li class="nav-item">
  <%=link_to "Elever", users_path, class: "nav-link" %>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">How to</a>
<div class="dropdown-menu" aria-labelledby="Preview">
<%= link_to "Nyt emne", new_subject_path, class: "dropdown-item" %>
    <%= link_to "Ny instruktion", new_instruction_path, class: "dropdown-item"%>
    <%= link_to "Alle instruktioner", instructions_path, class: "dropdown-item"%>
    <%=link_to "How to", how_to_index_path, class: "dropdown-item"%>
</div>
</li>

<li class="nav-item">
  <%=link_to "Nyt ugeskema", new_grade_scheduel_path(@current_user.grade_id), class: "nav-link" %>
</li>

