- if @diary_entry.errors.any?
  #error_explanation
    %h2
      = pluralize(diary_entry.errors.count, "error")
      prohibited this diary_entry from being saved:
    %ul
      - diary_entry.errors.full_messages.each do |message|
        %li= message
= f.hidden_field :message_type, value: "diary_entry"
//= f.hidden_field :user_name, value: @current_user.username
= f.bootsy_area :content, label: "Indhold", rows:22, cols:140
%br
= f.submit "Gem", class: "btn btn-default"
%br/
