<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @diary_entry.content.html_safe %>
</p>

<%= link_to 'Rediger', edit_user_diary_entry_path(@diary_entry), class: "btn btn-secondary" %> 
<%= link_to 'Tilbage', user_diary_entries_path, class: "btn btn-secondary" %>
<br>
<br>

<%= render "shared/comment/form", commentable: @diary_entry, comment: @comment%>
<br>
<br>
<%= render "shared/comment/diary_entry_index" %>