%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Aspit-teach", root_path, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        
        - if @current_user 
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", }
              .fa.fa-envelope-o
              ="Beskeder(#{@current_user.unread_messages_count})"
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}  
              %li
                = link_to user_messages_path(@current_user) do 
                  %i.fa.fa-envelope-open-o
                  Mine beskeder

              %li
                = link_to new_user_message_path(@current_user) do 
                  %i.fa.fa-telegram
                  Ny besked

        
          = render "shared/navbar/navbar_links/" + @current_user_name


      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to logout_path do 
            %i.fa.fa-sign-out
            Log ud 
        / /.nav-collapse