%h1 Elev målsætninger


/= line_chart student_goal.graph_data, discrete: true

 
%table.table
  %thead.thead-inverse
    %tr
      %th Elev
      %th Navn På målet
      %th Mål type
      %th Fremskridt
      %th Målet nået?
      %th Optioner
      %th
      %th

  %tbody
    - @student_goals.each do |student_goal|
      %tr
        %td= student_goal.author_name
        %td
          %strong= student_goal.goal_name
        %td= student_goal.goal_type
        %td
          - if student_goal.student_goal_evaluations.any? 
            = line_chart student_goal.graph_data, discrete: true, width: "300px", height: "100px"
            /= student_goal.student_goal_evaluations.last.score
          - else 
            =student_goal.score
        %td
          - if student_goal.resolved
            %i.fa.fa-check-square.fa-4{"aria-hidden" => "true"}
          - else
            %i.fa.fa-minus-square.fa-4{"aria-hidden" => "true"}
        %td
          = link_to "Vis", user_student_goal_path(:user_id, student_goal.id), class: "btn btn-default" 
          = link_to "Evaluer", new_student_goal_student_goal_evaluation_path(student_goal), class: "btn btn-default"
        
        
%br

= link_to 'Ny elev målsætning', new_user_student_goal_path, class: "btn btn-default"
