%h3
  = @student_goal.goal_name
%br
%p
  %b Mål:
  %br
  = @student_goal.goal_description
%p
  %b Hvad kan der gøres for at nå målet:
  %br
  = @student_goal.goal_achievment_tools
%p
  %b Success kriterie:
  %br
  = @student_goal.success_chriteria
%p
  %b Score:
  = @student_goal.score

