<%= simple_form_for [@grade, @scheduel] do |f| %>
  <% if @scheduel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduel.errors.count, "error") %> prohibited this scheduel from being saved:</h2>

      <ul>
      <% scheduel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br>  
    <%= f.hidden_field :grade_id, value: @grade_id %>

    <%= f.file_field :image%>
    
    <br>
    <br>
    <%= f.submit "Gem", class: "btn btn-secondary" %>

  
<% end %>
<br>