<p id="notice"><%= notice %></p>

<p>
  <strong>Oprettet den:</strong>
  <strong><%= @scheduel.created_at %></strong>
  <%= image_tag @scheduel.image.url(:slide) %>
</p>

<%= link_to 'Edit', edit_scheduel_path(@scheduel), class: "btn btn-secondary" %> |
<%= link_to 'Back', scheduels_path, class: "btn btn-secondary" %>
