<!DOCTYPE html>
<html>
  <head>
    <title>AspitTeach</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "AspIT - Teach", root_path, class:"navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          
        <%if super_admin? %>
          <li><%=link_to "Skole", schools_path%></li>
          <li><%= link_to "Skole klasser", grades_path%></li>
          <li><%= link_to "Brugere", users_path%></li>


          <li><%= link_to "skift bruger", current_user_index_path%></li>
        <%end%>

        <%if admin? %>
          <li><%= link_to "Elever", users_path%></li>
          <li><%= link_to "Skole klasser", grades_path%></li>


          <li><%= link_to "skift bruger", current_user_index_path%></li>
        <%end%>

        <%if mentor? %>
          <li><%= link_to "Elever", users_path%></li>


          <li><%= link_to "skift bruger", current_user_index_path%></li>
        <%end%>

        <%if teacher? %>
          <li><%= link_to "Elever", users_path%></li>



          <li><%= link_to "skift bruger", current_user_index_path%></li>
        <%end%>

        <%if student? %>
        <%end%>
          </li>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)">Link</a></li>     
        </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
         
    <div class="container">
          <%= yield %>

    </div>

  </body>
</html>
